.main {
  padding: 180px 0 30px 0;
}

.about-us {
  background: #71607E;
  border-radius: 7px;
  max-width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.about-us__container {
  color: #fff;
  text-align: center;
}

.about-us__title {
  font-size: 50px;
}

.about-us__sub-title {
  font-size: 35px;
  padding-top: 10px;
}

.swiper {
  cursor: -webkit-grab;
  cursor: grab;
  border: 5px solid;
  width: 100%;
  border-radius: 25px;
  margin-top: 35px;
  position: relative;
  padding-bottom: 55%;
}
.swiper:hover .swiper-button {
  opacity: 1;
  visibility: visible;
}

.swiper-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.swiper-slide img {
  border-radius: 25px;
}

.swiper-slide-title {
  font-size: 50px;
}

.swiper-button {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.swiper-button::after {
  font-size: 16px;
  font-weight: 900;
}
.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

@media (max-width: 815px) {
  .about-us__title {
    font-size: 35px;
  }

  .about-us__sub-title {
    font-size: 20px;
  }

  .swiper-slide-title {
    font-size: 35px;
  }

  .swiper-button {
    width: 38px;
    height: 38px;
  }
  .swiper-button::after {
    font-size: 14px;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 555px) {
  .about-us__title {
    font-size: 27px;
  }

  .about-us__sub-title {
    font-size: 17px;
  }

  .swiper {
    border: 3px solid;
  }

  .swiper-slide-title {
    font-size: 25px;
  }

  .swiper-button {
    width: 28px;
    height: 28px;
  }
  .swiper-button::after {
    font-size: 12px;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 400px) {
  .swiper-button {
    display: none;
  }
}