@charset "UTF-8";
.main {
  padding: 180px 0 30px 0;
}

.about-us {
  background: #71607E;
  border-radius: 7px;
  max-width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.about-us__container {
  color: #fff;
  text-align: center;
}

.about-us__title {
  font-size: 50px;
}

.about-us__sub-title {
  font-size: 35px;
  padding-top: 10px;
}

.slider {
  max-width: 80%;
  margin: 30px auto;
  position: relative;
}

.slider__title {
  font-size: 40px;
  padding: 30px 0px 20px 0px;
}

.slider__wrap {
  border: 5px solid #fff;
  overflow: hidden;
}

.slider__line {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
}
.slider__line img {
  max-width: 100%;
  min-width: 100%;
}

/*Стрелочки*/
.slider__arrow {
  cursor: pointer;
  font-size: 70px;
}

.slider__arrow-right {
  position: absolute;
  left: -20%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider__arrow-left {
  position: absolute;
  right: -20%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}