@charset "UTF-8";
.main {
  padding: 130px 0px 50px 0px;
}

.about-us {
  color: #fff;
  font-weight: 700;
  text-align: center;
  max-width: 870px;
  margin: 0 auto;
}

/*Вверхняя часть*/
.about-us-top {
  background: #3A1F4F;
  border-radius: 4px;
  padding: 20px 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about-us-top__title {
  font-size: 30px;
}

.about-us-top__sub-title {
  margin-top: 10px;
}

.about-us-top__photo {
  position: relative;
  max-width: 80em;
  padding-bottom: 75%;
  margin-top: 20px;
}
.about-us-top__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*==========================*/
/*Нижняя часть*/
.about-us-bottom {
  background: #3A1F4F;
  border-radius: 4px;
  padding: 30px 40px;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.report-problem__title {
  font-size: 20px;
  margin-top: 10px;
}

.report-problem__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 15px;
  gap: 20px;
}

.report-problem__item p {
  white-space: nowrap;
}

.report-problem__name {
  font-weight: 400;
}

/*Иконка дискорда*/
.report-problem__icon {
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.report-problem__icon:hover {
  -webkit-transform: rotate(360deg) scale(1.5);
          transform: rotate(360deg) scale(1.5);
  color: purple;
}

/*=====================================*/
@media (max-width: 815px) {
  .about-us-top__title {
    font-size: 25px;
  }

  .about-us-top__sub-title {
    font-size: 14px;
  }

  .report-problem__description {
    font-size: 14px;
  }

  .report-problem__title {
    font-size: 15px;
  }

  .report-problem__items {
    gap: 15px;
  }
}
@media (max-width: 555px) {
  .main {
    background: #71607E;
    padding-top: 100px;
  }

  .about-us-top__title {
    font-size: 20px;
  }

  .about-us-top__sub-title {
    font-size: 13px;
  }

  .report-problem__description {
    font-size: 13px;
  }

  .report-problem__title {
    font-size: 14px;
  }

  .report-problem__items {
    gap: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
}