.background {
  border-radius: 0.5rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-size: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 1.5rem;
  padding: 1.4rem 2.7rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.title {
  font-size: 3.6rem;
  text-align: center;
}

.name-site {
  font-size: 4rem;
}

.description-site {
  font-size: 2rem;
}