@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("../css/all.css");
@import url("../css/reset.css");
@import url("../css/header.css");
@import url("../css/about-us.css");
@import url("../css/connect-with-us.css");
@import url("../css/footer.css");
@import url("../css/popups.css");
@import url("../css/generalClass.css");
[class*=__container] {
  max-width: 1030px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background: #12061C;
  font-family: "Inter", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media (max-width: 991px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 815px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 555px) {
  html {
    font-size: 6px;
  }
}
@media (max-width: 355px) {
  html {
    font-size: 4px;
  }
}