.main{
    font-size: 16px;
    padding: 11.2em 0 1.9em 0;

    @media(max-width: 911px){
        font-size: 14px;
    }

    @media(max-width: 815px){
        font-size: 12px;
    }

    @media(max-width: 555px){
        font-size: 10px;
    }

    @media(max-width: 355px){
        font-size: 8px;
    }
}

.about-us {
    background: #71607E;
    border-radius: 7px;
    max-width: 80%;
    margin: 0 auto;
    padding: 3.1rem 0;
}

.about-us__container {
    color: #fff;
    text-align: center;
}

.about-us__title {
    font-size: 3.1rem;
}

.about-us__sub-title {
    font-size: 2.2rem;
    padding-top: 0.6rem;
}



.swiper {
    cursor: grab;
    border: 5px solid;
    width: 100%;
    border-radius: 1.5rem;
    margin-top: 2.2rem;

    position: relative;
    padding-bottom: 55%;

    &:hover{
        .swiper-button{
            opacity: 1;
            visibility: visible;
        }
    }
}

.swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5px;
    img{
        border-radius: 25px;
    }
}


.slide-left {
    flex: 0 0 52%;
    transition: all 1s ease;
}

.slide-left__name-site {
    font-size: 3.7rem;
}
.slide-left__description-site {
    font-size: 1.8rem;
    margin-top: 1.2rem;
}
.slide-left__button {
    margin-top: 2.5rem;
}

.slide-right {
    flex: 0 0 45%;
}

.slide-right__images {
    img{
        max-width: 100%;
    }
}


.swiper-button{
    border-radius: 100%;
    width: 48px;
    height: 48px;

    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;

    &::after{
        font-size: 16px;
        font-weight: 900;
    }

    &:hover{
    }
}

.swiper-button-prev {
}
.swiper-button-next {
}

.swiper-pagination-bullet{
    width: 1rem;
    height: 1rem;
}
