.main{
    font-size: 16px;
    padding: 11.2em 0 1.9em 0;

    @media(max-width: 911px){
        font-size: 14px;
    }

    @media(max-width: 815px){
        font-size: 12px;
    }

    @media(max-width: 555px){
        font-size: 10px;
    }

    @media(max-width: 355px){
        font-size: 8px;
    }
}

.about-us {
    padding: 2.1rem 0;
}

.about-us__container {
    color: #fff;
    text-align: center;
}

.about-us__title {
    font-size: 3.6rem;
}

.about-us__title--ourWorks{
    margin-top: 3.1rem;
    font-size: 2.1rem;
}

.about-us__sub-title {
    font-size: 2.2rem;
    padding-top: 1.2rem;
}
