@media(max-width: 1200px){
    /*Кнопки*/
    .buttons-header {
        font-size: 11px !important;
    }
}

@media(max-width: 992px){
    /*Логотип*/
    .logo-header{
        flex: 1 1 auto;
        font-size: 15px !important;
    }


    /*Бургер*/
    .burger{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        z-index: 100;
        span{
            width: 100%;
            height: 4px;

            pointer-events: none;
        }
    }
    /*==================================*/

    /*MENU*/
    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        padding-top: 180px;
        z-index: 99;
        transform: translateY(-100%);
        transition: all .3s linear;

        &.active{
            transform: translateY(0%);
        }

        .menu__list{
            display: block;
            font-size: 18px;
        }

        .menu__item{
            margin-bottom: 2.5em;
            a{
                font-size: 3em;
            }
        }
    }


    /*ORDER*/
    .order-button{
        padding: 18px 47px !important;
        font-size: 30px !important;
        height: 50px !important;
    }
}

@media(max-width: 768px){
    /*Шапка*/
    .header__container{
        gap: 25px !important;
        height: 100px !important;
    }

    /*Логотип*/
    .logo-header{
        font-size: 12px !important;
    }
    .logo-header__text{
        display: none !important;
    }

    /*Кнопки*/
    .buttons-header {
        font-size: 10px !important;
    }

    /*Бургер*/
    .burger{
        width: 25px;
        height: 20px;
        z-index: 100;
        span{
            height: 3px;
        }
    }

    /*Меню*/
    .menu__list{
        font-size: 18px !important;
    }


    /*ORDER*/
    .order-button{
        padding: 12px 32px !important;
        font-size: 20px !important;
        height: 30px !important;
    }
    
}

@media(max-width: 480px){
    /*Шапка*/
    .header__container{
        height: 80px !important;
    }
    /*Кнопки*/
    .buttons-header {
        font-size: 9px !important;
    }


    /*Бургер*/
    .burger{
        width: 20px;
        height: 15px;
        z-index: 100;
        span{
            height: 2px;
        }
    }    

    /*Меню*/
    .menu__list{
        font-size: 12px !important;
    }

    /*Логотип*/
    .logo-header{
        font-size: 10px !important;
    }
}

@media(max-width: 320px){
    /*Шапка*/
    .header__container{
        height: 70px !important;
    }

    /*Кнопки*/
    .buttons-header {
        font-size: 7px !important;
    }
    
    /*Меню*/
    .menu__list{
        font-size: 12px !important;
    }
}