.button{
    font-size: 2rem;
    display: inline-flex;

    border-radius: 1.5rem;
    padding: 1.2rem 2.5rem;

    transition: all .3s ease;
}

.name-site{
    font-size: 4rem;
}

.description-site{
    font-size: 2rem;
}


