.header {
    transition: all .3s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    &.scrolled{
        box-shadow: 0px 3px 14px 14px rgba(116, 62, 157, 0.2);
        .header__container{
            height: 85px;
        }
    }
}

.header__container{
    display: flex;
    align-items: center;
    height: 120px;
    gap: 44.8px;

    transition: all 1s ease;
}

/*Логотип*/
.logo-header {
    z-index: 100;
    display: flex;
    margin-bottom: 1.5rem;

    font-size: 16px;
}

.logo-header__icon {
    width: 5em;
    animation: rotateIcon 4s infinite alternate;
}
.logo-header__text {
    width: 9.4em;
}

@keyframes rotateIcon{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
/*==============================================*/

/*Меню*/
.menu {
    display: flex;
    flex: 1 1 auto;
}

.menu__list {
    display: flex;
    gap: 20.8px;
    text-align: center;
}

.menu__item a{
    font-size: 19.2px;

    position: relative;
    padding-bottom: 4.8px;

    transition: all .3s ease-out;

    &::after{
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;

        transition: all .3s linear;
    }

    &:hover{
        &::after{
            width: 100%;
        }
    }
}
/*==============================================*/

/*Кнопки*/
.buttons-header {
    z-index: 100;
    display: flex;
    gap: 32px;
    font-size: 16px;
}

.button-header{
    border-radius: 2px;
    padding: 6.4px 35.2px;
    font-size: 16px;
    transition: all .3s ease-out;

    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    &:hover{
        box-shadow: -2px -2px 100px -1px rgba(165, 55, 252, 0.65);
    }
}

.buttons-header__login {
    border: 1px solid #A537FC;
    color: #A537FC;
}
.buttons-header__register {
    color: #fff;
    background: #A537FC;
}
/*==============================================*/

/*SWITCHER*/
.theme {
    z-index: 100;
}
.change-theme {
    font-size: 2.5em;
    cursor: pointer;
    transition: all .3s ease-out;
}

.change-theme[data-theme="dark"]{
    color: #000;
}

.change-theme[data-theme="light"]{
    color: #fff;
}

/*=================================================*/



@media(max-width: 1200px){}

@media(max-width: 992px){
    .logo-header{
        flex: 1 1 auto;
        font-size: 15px;
    }

    .burger{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 25px;
        z-index: 100;
        span{
            width: 100%;
            height: 4px;

            pointer-events: none;
        }
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        padding-top: 180px;
        z-index: 99;
        transform: translateY(-100%);
        transition: all .3s linear;

        &.active{
            transform: translateY(0%);
        }
    }

    .menu__list{
        display: block;
        font-size: 18px;
    }

    .menu__item{
        margin-bottom: 2.5em;
        a{
            font-size: 3em;
        }
    }
}

@media(max-width: 768px){
    .header{
        &.scrolledHeader{
            .header__container{
                height: 65px;
            }
        }
    }
    

    .header__container{
        gap: 25px;
        height: 100px;
    }

    .logo-header{
        font-size: 12px;
    }
    .logo-header__text{
        display: none;
    }

    .burger{
        width: 25px;
        height: 20px;
        span{
            height: 3px;
        }
    }

    .menu__list{
        font-size: 18px;
    }
}


@media(max-width: 480px){
    .header{
        &.scrolledHeader{
            .header__container{
                height: 45px;
            }
        }
    }
    .header__container{
        height: 80px;
        gap: 15px;
    }

    .buttons-header{
        gap: 10px;
    }

    .button-header {
        padding: 4.4px 24.2px;
        font-size: 11px;
    }

    
    .burger{
        width: 20px;
        height: 15px;
        span{
            height: 2px;
        }
    }    

    .menu__list{
        font-size: 12px;
    }

    .logo-header{
        font-size: 10px;
    }
}

@media(max-width: 320px){
    .header{
        &.scrolledHeader{
            .header__container{
                height: 35px;
            }
        }
    }
    .header__container{
        height: 70px;
        gap: 10px;
    }

    .menu__list{
        font-size: 12px;
    }   


    .buttons-header{
        gap: 5px;
    }

    .button-header {
        padding: 3.4px 18.2px;
        font-size: 10px;
    }


 
}