.header {
    transition: all .3s ease-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__container{
    display: flex;
    align-items: center;
    height: 120px;
    gap: 44.8px;
}

/*Логотип*/
.logo-header {
    z-index: 100;
    display: flex;
    margin-bottom: 1.5rem;
}
.logo-header__icon {
    width: 80px;
    animation: rotateIcon 4s infinite alternate;
    &:hover{
        animation-duration: 2s;
    }
}
.logo-header__text {
    width: 150.4px;
}

@keyframes rotateIcon{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}
/*==============================================*/

/*Меню*/
.menu {
    display: flex;
    flex: 1 1 auto;
}

.menu__list {
    display: flex;
    gap: 20.8px;
    text-align: center;
}

.menu__item a{
    font-size: 19.2px;

    position: relative;
    padding-bottom: 4.8px;

    transition: all .3s ease-out;

    &::after{
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 0;

        transition: all .3s linear;
    }

    &:hover{
        &::after{
            width: 100%;
        }
    }
}
/*==============================================*/

/*Кнопки*/
.buttons-header {
    z-index: 100;
    display: flex;
    gap: 2em;
    font-size: 16px;
}

.button-header{
    border-radius: 2px;
    padding: 0.4em 2.2em;
    font-size: 1em;
    transition: all .3s ease-out;
    &:hover{
        box-shadow: -2px -2px 100px -1px rgba(165, 55, 252, 0.65);
    }
}

.buttons-header__login {
    border: 1px solid #A537FC;
    color: #A537FC;
}
.buttons-header__register {
    color: #fff;
    background: #A537FC;
}
/*==============================================*/

/*SWITCHER*/
.theme {
    z-index: 100;
}
.change-theme {
    font-size: 2.5em;
    cursor: pointer;
    transition: all .3s ease-out;
}

.change-theme[data-theme="dark"]{
    color: #000;
}

.change-theme[data-theme="light"]{
    color: #fff;
}

/*=================================================*/
