@charset "UTF-8";
/*General Class*/
.button {
  background: #9CADBE;
  color: #000;
}
.button:hover {
  background: #66727f;
}
.button:active {
  background: #2e343b;
}

.background {
  background: #71607E;
}

/*Шапка*/
.header {
  background: #3A1F4F;
}

/*Меню*/
@media (max-width: 992px) {
  .menu {
    background: #000;
  }
}
.menu__item a {
  color: #fff;
}
.menu__item a::after {
  background: #fff;
}

.burger span {
  background: #fff;
}

/*==============================================*/
/*SWITCHER*/
.change-theme[data-theme=dark] {
  display: none;
}

.change-theme[data-theme=light] {
  display: block;
}

/*=================================================*/
/*Свайпер*/
.swiper {
  border-color: #876F9A;
}

.swiper-slide {
  background: #876F9A;
}

.swiper-button {
  background: #000;
  color: #fff;
}
.swiper-button:hover {
  background: #876F9A;
}

.swiper-pagination-bullet {
  background: #5d4a6c;
}

.slide-left {
  color: #fff;
}

/*Swiper2*/
.swiper2 {
  border-color: #fff;
}
.swiper2 .swiper-slide {
  background: #fff;
}
.swiper2 .swiper-button:hover {
  background: #b3aaaa;
}
.swiper2 .swiper-pagination-bullet {
  background: #b3aaaa;
}

/*connetct-with-us*/
.connect-witch-us__icon {
  color: #B5A1C4;
}

/*ORDER*/
.order-button {
  background: #D5D5D5;
  color: #0080FF;
}
.order-button:hover {
  -webkit-box-shadow: 3px 2px 14px 11px #fff;
  box-shadow: 3px 2px 14px 11px #fff;
}

.order-button__line--left {
  background: rgb(255, 255, 255);
  background: linear-gradient(73deg, rgb(255, 255, 255) 30%, rgb(208, 208, 208) 70%);
}

.order-button__line--right {
  background: rgb(208, 208, 208);
  background: linear-gradient(73deg, rgb(208, 208, 208) 30%, rgb(255, 255, 255) 70%);
}

.order-button__line--top {
  background: rgb(208, 208, 208);
  background: linear-gradient(73deg, rgb(208, 208, 208) 30%, rgb(255, 255, 255) 70%);
}

.order-button__line--bottom {
  background: rgb(255, 255, 255);
  background: linear-gradient(73deg, rgb(255, 255, 255) 30%, rgb(208, 208, 208) 70%);
}