@charset "UTF-8";
body {
  background: #EBD1FF;
}

/*General Class*/
.button {
  font-size: 2rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #EB4C42;
  border-radius: 1.5rem;
  padding: 1.2rem 2.5rem;
  color: #fff;
}

/*=============================*/
/*Шапка*/
.header {
  background: #F0B3EF;
}

/*==============================================*/
/*SWITCHER*/
.change-theme[data-theme=dark] {
  display: block;
}

.change-theme[data-theme=light] {
  display: none;
}

/*=================================================*/
/*Menu*/
.menu {
  background: #fff;
}

/*Бургер*/
.burger span {
  background: #000;
}

/*=========================*/
/*about-us*/
.about-us {
  background: #B5A1C4;
}

/*Свайпер*/
.swiper {
  border-color: #EBD1FF;
}

.swiper-slide {
  background: #EBD1FF;
}

.swiper-button {
  background: #fff;
  color: #000;
}
.swiper-button:hover {
  background: #EBD1FF;
}

.swiper-pagination-bullet {
  background: #8a8092;
}

.slide-left {
  color: #000;
}