@charset "UTF-8";
body {
  background: #EBD1FF;
}

/*Шапка*/
.header {
  background: #EBD1FF;
}

/*==============================================*/
/*Меню*/
@media (max-width: 815px) {
  .header__menu {
    background: #fff;
  }
}
.header__menu__item a {
  color: #A537FC;
}
.header__menu__item a::after {
  background: #A537FC;
}

/*==============================================*/
/*Кнопки*/
.buttons-header__login {
  border: 1px solid #A537FC;
  color: #A537FC;
}
.buttons-header__login:hover {
  -webkit-box-shadow: -2px -2px 100px -1px rgba(165, 55, 252, 0.65);
          box-shadow: -2px -2px 100px -1px rgba(165, 55, 252, 0.65);
}

.buttons-header__register {
  color: #fff;
  background: #A537FC;
}
.buttons-header__register:hover {
  -webkit-box-shadow: -2px -2px 100px -1px rgba(165, 55, 252, 0.65);
          box-shadow: -2px -2px 100px -1px rgba(165, 55, 252, 0.65);
}

/*==============================================*/
/*SWITCHER*/
.change-theme[data-theme=dark] {
  display: block;
}

.change-theme[data-theme=light] {
  display: none;
}

/*=================================================*/
/*Бургер*/
.burger span {
  background: #000;
}

/*=========================*/