@charset "UTF-8";
body {
  background: #EBD1FF;
}

/*Шапка*/
.header {
  background: #F0B3EF;
}

/*==============================================*/
/*Меню*/
@media (max-width: 815px) {
  .header__menu {
    background: #fff;
  }
}
.header__menu__item a {
  color: #A537FC;
}
.header__menu__item a::after {
  background: #A537FC;
}

/*==============================================*/
/*SWITCHER*/
.change-theme[data-theme=dark] {
  display: block;
}

.change-theme[data-theme=light] {
  display: none;
}

/*=================================================*/
/*Бургер*/
.burger span {
  background: #000;
}

/*=========================*/
/*about-us*/
.about-us-top {
  background: #AF8BCA;
}

.about-us-bottom {
  background: #AF8BCA;
}

/*Иконка дискорда*/
.report-problem__icon:hover {
  color: #9457EB;
}