/*Шапка*/
.header {
    background: #3A1F4F;
}
/*==============================================*/
/*Меню*/
.header__menu {
    a{
        color: #fff;
        &::after{
            background: #fff;
        }
    }
}
/*==============================================*/

/*Кнопки*/
.buttons-header__login {
    border: 1px solid #A537FC;
    color: #A537FC;
    &:hover{
        box-shadow: -2px -2px 100px -1px rgba(165, 55, 252, 0.65);
    }
}

.buttons-header__register {
    color: #fff;
    background: #A537FC;
    &:hover{
        box-shadow: -2px -2px 100px -1px rgba(165, 55, 252, 0.65);
    }
}
/*==============================================*/

/*SWITCHER*/
.theme {
}

.change-theme[data-theme="dark"]{
    display: none;
}

.change-theme[data-theme="light"]{
    display: block;
}
/*=================================================*/

/*Бургер*/
.burger{
    span{
        background: #fff;
    }
}
/*=========================*/

/*Свайпер*/
.swiper {
    border-color: #876F9A;
}

.swiper-slide {
    background: #876F9A;
}

.swiper-button{
    background: #000;
    color: #fff;

    &:hover{
        background: #876F9A;
    }
}

.swiper-pagination-bullet{
    background: #5d4a6c;
}