/*General Class*/
.button{
    background: #9CADBE;
    color: #000;

    &:hover{
        background: #66727f;
    }

    &:active{
        background: #2e343b;
    }
}

.background{
    background: #71607E;
}

/*Шапка*/
.header{
    background: #3A1F4F;
}

/*Меню*/
@media(max-width: 992px){
    .menu{
        background: #000;
    }
}

.menu__item a{
    color: #fff;
    &::after{
        background: #fff;
    }
}

.burger span{
    background: #fff;
}


/*==============================================*/

/*SWITCHER*/
.change-theme[data-theme="dark"]{
    display: none;
}

.change-theme[data-theme="light"]{
    display: block;
}
/*=================================================*/

/*Свайпер*/
.swiper {
    border-color: #876F9A;
}

.swiper-slide {
    background: #876F9A;
}

.swiper-button{
    background: #000;
    color: #fff;

    &:hover{
        background: #876F9A;
    }
}

.swiper-pagination-bullet{
    background: #5d4a6c;
}

.slide-left{
    color: #fff;
}

/*Swiper2*/
.swiper2 {
    border-color: #fff;
    .swiper-slide {
        background: #fff;
    }

    .swiper-button{
        &:hover{
            background: #b3aaaa;
        }
    }

    .swiper-pagination-bullet{
        background: #b3aaaa;
    }
}


/*connetct-with-us*/
.connect-witch-us__icon{
    color: #B5A1C4;
}