body{
    background: #EBD1FF;
}

/*General Class*/
.button{
    background: #EB4C42;
    color: #fff;

    &:hover{
        background: #88241c;
    }

    &:active{
        background: #4b110d;
    }
}

.background{
    background: #B5A1C4;
}

/*Шапка*/
.header{
    background: #F0B3EF;
}

/*Меню*/
.menu{
    background: #fff;
}

.menu__item a{
    color: #000;
}

.burger span{
    background: #000;
}

/*=============================*/

/*SWITCHER*/
.change-theme[data-theme="dark"]{
    display: block;
}

.change-theme[data-theme="light"]{
    display: none;
}
/*=================================================*/


/*Свайпер*/
.swiper {
    border-color: #EBD1FF;
}

.swiper-slide {
    background: #EBD1FF;
}

.swiper-button{
    background: #fff;
    color: #000;

    &:hover{
        background: #EBD1FF;
    }
}

.swiper-pagination-bullet{
    background: #8a8092;
}


.slide-left{
    color: #000;
}

/*Swiper2*/
.swiper2 {
    border-color: #fff;
    .swiper-slide {
        background: #fff;
    }

    .swiper-button{
        &:hover{
            background: #b3aaaa;
        }
    }

    .swiper-pagination-bullet{
        background: #b3aaaa;
    }
}


/*connetct-with-us*/
.connect-witch-us__icon{
    color: #71607E;
}