body{
    background: #EBD1FF;
}

/*Шапка*/
.header {
    background: #F0B3EF;
}

/*==============================================*/
/*Меню*/
@media(max-width: 815px){
    .header__menu{
        background: #fff;
    }
}

.header__menu__item {
    a{
        color: #A537FC;
        &::after{
            background: #A537FC;
        }
    }
}
/*==============================================*/

/*SWITCHER*/
.theme {
}
.change-theme {
}

.change-theme[data-theme="dark"]{
    display: block;
}

.change-theme[data-theme="light"]{
    display: none;
}
/*=================================================*/

/*Бургер*/
.burger{
    span{
        background: #000;
    }
}
/*=========================*/


/*about-us*/
.about-us{
    background: #B5A1C4;
}